@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

body {
    font-family: 'Kosugi Maru', sans-serif;
}

ul {
    list-style: none;
}

ul li {
    padding-left: 20px;
    line-height: 1.6em;
    background: url("img/Check.png") left 0px top 3px no-repeat;
    background-size: 16px auto;
}

.space {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-div {
    width: 100%;
}

.subtitle {
    text-align: center;
    margin: 1rem 0;
}

.logo {
    height: 2rem;
    margin: 0.8rem 2rem;
}

.icon {
    height: 2rem;
    margin: 0 0.8rem 0.2rem 0.8rem;
    vertical-align: middle;
}

.icon-small {
    height: 1.6rem;
    margin: 0 0.4rem 0.4rem 0.4rem;
    vertical-align: middle;
}

p {
    margin: 4px 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.panel {
    height: 100%;
    padding: 0.4rem 1rem 0 0;
    border: solid thin black;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}
